%header
  = image_tag "signup/logo.png"
  = render 'invited_user', invited_user: @invited_user
%aside
  准备中...
%section
  %p 感谢您的关注，品酷提供与众不同的品牌点评服务：
  %ul
    %li 了解大家对品牌的看法意见
    %li 分享您对品牌的观点评价
    %li 成为某个领域的品牌专家
  %div
    %figure
      = image_tag "signup/watch_preview.png"
      = image_tag "signup/share_preview.png"
      = image_tag "signup/master_preview.png"
%footer
  %nav
    %a(href="http://weibo.com/pincoolme") 微博
    %a(href="mailto:pincool.me@gmail.com") 联系我们
- content_for :script do
  :javascript
    $(window).load(Pincool.slideshows);
