%head
  :css
    #dropzone {
      width: 400px;
      height: 200px;
      margin: 10px;
      border: 1px dashed #ccc;
      text-align: center;
    }
    .dragover {
      background-color: #ffc;
    }
%body
  %h1 Demo-Upyun form upload
  #dropzone
    Drag file and Drop here
  = form_tag 'http://v0.api.upyun.com/pincool-photo',
  id: "upyun-form", multipart: true, remote: true, 'data-type' => 'json'
  = file_field_tag 'file'
  = hidden_field_tag 'policy', @policy
  = hidden_field_tag 'signature', @signature
  = submit_tag "Submit"
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery.ui.widget"
  = javascript_include_tag "jquery.iframe-transport"
  = javascript_include_tag "jquery.fileupload"
  = debug @policydoc
  :javascript
    $(function () {
    $('#file').fileupload({
        dataType: 'json',
        url: 'http://v0.api.upyun.com/pincool-photo',
        forceIframeTransport: true,
        multipart: true,
        formData: function() {
            return $('form').serializeArray();
        },
        drop: function(e, data) {
          console.log(e);
          console.log(data);
        }, 
        add: function(e, data) {
          console.log(data.files[0]);
          data.submit();
        },
        submit: function(e, data) {
            console.log(data.files[0]);
            $('#dropzone').empty().append('<h2>submitting...</h2>');
        },
        send: function(e, data) {
           console.log(data.files[0]);
           return true;
        },
        done: function (e, data) {
            url = "http://pincool-photo.b0.upaiyun.com"+data.result.url+"!portrait";
            $('#dropzone')
            .empty()
            .append('<img src="'+url+'">')
            .append('<h2> code=' + data.result.code + '</h2>' )
            .append('<h3> message=' + data.result.message + '</h3>' );
        }
    });
    });

