%ul.evaluation
  %li.sensibility{"data-name"=>"#{eva_names[0]}", "data-value"=>"#{evas[0]}", "data-max"=>"10", "data-desc"=>"#{eva_names[0]} #{evas[0]}"}
  %li.rationality{"data-name"=>"#{eva_names[1]}", "data-value"=>"#{evas[1]}", "data-max"=>"10", "data-desc"=>"#{eva_names[1]} #{evas[1]}"}
  %li.economy{"data-name"=>"#{eva_names[2]}", "data-value"=>"#{evas[2]}", "data-max"=>"10", "data-desc"=>"#{eva_names[2]} #{evas[2]}"}
