= form_tag brand_post_path(@post.brand, @post), method: "put" do |f|
  = render 'title'
  = render 'evas'
  = render 'photos'
  = render 'content'
  .action
    = button_tag "保存"
    = button_tag "取消", type: "cancel"
- content_for :script do
  :javascript
    $(Pincool.postForm)
