%article{"class" => "post #{post.type.downcase}"}
  %section
    - if post.photos.length > 0
      = link_to brand_post_path(post.brand, post) do
        = photo_tag post.photos.first, :small
    - if post.respond_to? :title
      = link_to brand_post_path(post.brand, post) do
        %h1= post.title
    - if post.respond_to? :evas and post.evaluated?
      = render 'shared/evas', evas: post.evas
    - if !post.content.blank?    
      %p= auto_link(nl2br(post.content.truncate(1000)))
  %footer
    = render 'posts/author', post: post
