%article{"class" => "post #{post.type.downcase}"}
  %section
    - if post.photos.length > 0
      = photo_tag post.photos.first, :small
    - if post.respond_to? :title
      %h1= post.title
    - if post.respond_to? :evas
      = render 'shared/evas', evas: post.evas
    - if !post.content.blank?    
      %p= post.content.truncate(1000)
  %footer
    = render 'author', post: post
