- provide :title, raw(@post.brand.title)
%section#post_show{class: @post.type.downcase}
  %header.brands_normal
    .brand
      = link_to logo_tag(@post.brand, :small), brand_path(@post.brand), class: 'brand_logo'  
      = link_to @post.brand.title, brand_path(@post.brand), class: 'brand_title'
      %p= @post.brand.description
  - if @post.editable_by?(current_user)
    = (@post.new?) ? (render 'new') : (render 'edit')
  - else
    = render 'show'
  %footer
    - if @post.editable_by?(current_user) && !@post.new?
      #destroy
        = link_to "[删除本贴]", brand_post_path(@post.brand, @post),
        method: :delete, confirm: "确定要删除吗？"
    = render 'author', post: @post  
  - unless @post.new?  
    = render 'comments/count', count: @post.comments.count
    = render @post.comments  
    = render 'comments/pub', post: @post
