%tr
  %td= invited_user.provider
  %td= invited_user.name
  %td= root_url + "signin/#{invited_user.provider}/#{invited_user.name}"
  %td 
    - if invited_user.registered_user
      = link_to "用户主页", invited_user.registered_user
    - else    
      = link_to "X取消邀请", invited_user, method: :delete, confirm: "确定?"
