.field
  = f.text_field :title, placeholder: "请输入品牌名称", size: 20
.field
  %span.prefix= brands_url + '/'
  = f.text_field :uri, placeholder:"请输入品牌域名", size: 20
.field
  = label_tag :file, "请上传品牌logo图片:"
  = upyun_file_field_tag 'file', :logo
  = f.hidden_field :logo
  #dropzone
    - if @brand.logo 
      = logo_tag @brand, :big
      %p 您可以上传替换图片
    - else    
      %p 请上传大小不超过2M的图片
.field
  = f.text_field :description, placeholder: "请填写品牌一句话简介", size: 40
.field
  = f.select "category_ids", categories_for_select, {}, multiple: true, "data-placeholder" => "请选择品牌领域"
.field.eva_names_select
  = label_tag :eva_names, "请选择品牌评测项名称"
- [:r, :b, :g].each_with_index do |type, index|
  .field{"class"=>["eva_names_select", "eva_names_select_#{type}"]}
    %select{name: "brand[eva_names][]"}
      - eva_names_for_select(type).each do |name|
        %option{value: name, selected: @brand.eva_names[index]==name}= name
