.field
  = f.text_field :title, placeholder: "请输入品牌名称", size: 20
.field
  %span.prefix= brands_url + '/'
  = f.text_field :uri, placeholder:"请输入品牌域名", size: 20
.field
  = label_tag :file, "请上传品牌logo图片:"
  = upyun_file_field_tag 'file', :logo
  = f.hidden_field :logo
  #dropzone
    - if @brand.logo 
      = logo_tag @brand, :big
      %p 您可以上传替换图片
    - else    
      %p 请上传大小不超过2M的图片
.field
  = f.text_field :description, placeholder: "请填写品牌一句话简介", size: 40
.field
  = label_tag :categories, "请选择品牌领域"
  -# <select data-placeholder="Choose a Country..." style="width:350px;"> */
  -#         <option value="United States">United States</option>  */
