- provide :title, @brand.title
%section
  %header#brand_head
    #title
      = logo_tag @brand, :big
      = render "follow_form"
      %p
        %span#followers_count= @brand.followers.count
        人已订阅
    #info
      %h1= @brand.title
      %p= @brand.description
      - if current_user && @brand.editable_by?(current_user)
        %p= link_to "[编辑]", edit_brand_path(@brand)
      = render 'shared/evas', evas: @brand.evas, eva_names: @brand.eva_names      
    #tags
      %h2 领域
      %ul
        - @brand.categories.each do |category|
          %li= link_to category.name, category
  %section#brand_publish
    = link_to "品牌感受", new_brand_post_path(@brand)+"?type=feeling", "class" => "feeling_pub"
    = link_to "产品评价", new_brand_post_path(@brand)+"?type=review", "class" => "review_pub"
  = render "posts/posts", posts_name: @brand.title+"的帖子", posts_url: posts_data_brand_path(@brand)
- content_for :script do
  :javascript
    $(Pincool.brandShow);
