%header
  %nav
    #logo
      = link_to(root_path) do
        = image_tag "logo.png", title: "返回主页", alt: "logo"
    %ul#navigator
      %li= link_to "我的主页", root_path
      %li= link_to "我的品牌", user_path(current_user)
      %li= link_to "探索发现", explore_path
      %li= link_to "品控领域", categories_path
    #messages_tip
      - messages_count = current_user.messages.unreads.count
      = link_to messages_count, 
      messages_user_path(current_user),
      title: "我有#{messages_count}个未读通知",
      "class" => (messages_count > 0)?"":"no_messages"
    #current_user
      = link_to current_user do
        = image_tag current_user.image_url, class: "people_thumb_small", 
        title: current_user.name, alt: current_user.name
        %strong= current_user.name.truncate(9)
      %ul
        %li= link_to "建立新品牌", new_brand_path
        - if current_user.admin?
          %li= link_to "*邀请用户管理", invited_users_path
          %li= link_to "*品牌管理", brands_path
          %li= link_to "*领域管理", index_for_admin_categories_path
          %li= link_to "*评测项管理", eva_names_path
        %li= link_to "退出", signout_path, method: :delete
